<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    {% load static %}
    <style>
        /* Estilos adicionales aquí */
        .header {
            height: 100px; /* Altura del encabezado */
        }
        .logo {
            width: 100%; /* Logo abarca todo el ancho del encabezado */
            max-width: 200px; /* Logo no se hace más grande de 200px */
        }
        .contact-image {
            max-width: 200px; /* Imagen aún más pequeña */
        }
    </style>
</head>

<body class="bg-gray-100">

    <!-- Encabezado -->
    <header class="flex justify-start items-center w-full py-6 px-10 bg-white shadow-md mb-10">
        <img class="w-auto h-10" src="{% static 'images/logoASTRO.png' %}" alt="logoASTRO">
    </header>
    

    <!-- Contenido principal -->
    <main class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="max-w-lg">
                <p class="text-lg text-gray-700">Somos una empresa 100% mexicana dedicada a la creación y venta de productos realizados con impresión 3D.</p>
                <p class="text-lg text-gray-700">Contáctanos en nuestras redes sociales o por correo electrónico para cotizar un diseño propio o realizar un nuevo pedido.</p>
                <h1 class="font-bold text-5xl mt-5 mb-3">Contáctanos</h1>
                <div class="bg-gray-200 rounded-lg p-5">
                    <h3 class="font-bold text-xl mb-3">¿Qué hacer si tienes problemas con el proceso de compra?</h3>
                    <p class="text-lg">Llámanos directamente o comunícate con la empresa por vía electrónica para poder ayudarte a solucionar el inconveniente.</p>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <img class="contact-image" src="{% static 'images/contacta.png' %}" alt="modelo de carro">
            </div>
        </div>
    </main>

</body>

</html>


