
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" href="../output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    {% load static %}
</head>

<body class="w-full px-1 py-[30px]">
    <header class="flex justify-between items-center w-full mb-10">
        <img class="w-80 h-[53px]" src="{% static 'images/logoASTRO.png' %}" alt="logoAstro">
        <!--<img class="w-6 h-6 ml-auto" src="../img/salir.png" alt="Salir">-->
    </header>

    <main class="flex justify-center items-center h-screen">
        <div class="text-center">
            <div class="flex items-center justify-center">
                <img src="{% static 'images/joji.jpg' %}" alt="Imagen de perfil" class="w-16 h-16 mr-4 ">
                <h1 class="text-5xl font-bold ml-4">Bienvenido <br>Gael</h1>
            </div>
            <br>
    
                    <h2 class="text-2xl font-bold">Tus datos</h2>
                

                <div class="grid-cols-1 mt-4">
                   
                    <div>
                        <h3 class="text-gray-500">Nombre:</h3>
                        <p>Gael</p>
                    </div>
                    <div>
                        <h3 class="text-gray-500">Apellido:</h3>
                        <p>Uribe Alcantar</p>
                    </div>
                    <div>
                        <h3 class="text-gray-500">Correo:</h3>
                        <p>gaelua@gmail.com</p>
                    </div>
                    <div>
                        <h3 class="text-gray-500">Contraseña:</h3>
                        <p>33333aKBS*</p>
                </div>
            </div>
            
        </div>
    
    </main>

    <footer class="flex justify-around mt-20">
        <button class="bg-white border border-[#FF002E] py-6 px-10 rounded-lg text-[#FF002E] font-bold text-2xl">Cerrar sesión</button>
        <button class="bg-white border border-[#FF002E] py-6 px-10 rounded-lg text-[#FF002E] font-bold text-2xl">Editar</button>
    </footer>
    
</body>
</html>
