<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
    <script src="../js/editarCliente.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Editar información de cliente</title>
    {% load static %}
  </head>

  <body class="flex flex-col py-[52px] px-20 w-full justify-center">
    <header>
      <div class="w-full flex justify-end">
        <button onclick="window.location.href='tablaClientes' ">
        <svg height="48px" viewBox="0 -960 960 960" width="48px" fill="#EA3323"><path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg>
      </button>
    </div>
      <h1 class="font-sans text-5xl font-bold mb-3">Editar información de cliente</h1>
      <p class="text-xl font-normal max-w-[557px]">
        Estos datos se usarán después para poder iniciar sesión en el sistema y para hacer pedidos.
      </p>
    </header>

    <form
      class="flex w-full flex-wrap gap-10 mt-11 mb-10 justify-start text-gray-500 items-center"
      action=""
      id="form-agregarCliente"
    >
    

      <label class="font-bold flex flex-col" for="nombre"
        >Nombre(s)
        <input
          class="edit-input-name bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2 items-center justify-center"
          type="text"
          id="edit-input-name"
          name="nombre"
          placeholder="Nombre (s)"
        />
      </label>

      <label class="font-bold flex flex-col" for="apellidos"
        >Apellidos
        <input
          class="edit-input-lastname bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2 items-center justify-center"
          type="text"
          id="edit-input-lastname"
          name="apellidos"
          placeholder="Apellidos"
        />
      </label>

      <label class="font-bold flex flex-col" for="correo"
        >Correo
        <input
          class="edit-input-username bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2 items-center justify-center"
          type="text"
          id="edit-input-correo"
          name="correo"
          placeholder="correo"
        />
      </label>

      <label class="font-bold flex flex-col" for="contraseña"
        >Contraseña
        <input
          class="bg-[#F3F3F3] rounded-[10px] w-[370px] h-[62px] px-10 py-2 items-center justify-center"
          type="text"
          id="edit-input-contraseña"
          name="contraseña"
          placeholder="Contraseña"
        />
      </label>
    </form>

    <div class="w-full flex justify-center">
      <button
        class="btn-cancel bg-[#9A9A9A] py-5 px-16 rounded-lg font-bold text-gray-50 mr-10 hover:bg-slate-900"
      >
        Cancelar
      </button>
      <button
        class="btn-send bg-[#FF002E] py-5 px-12 rounded-lg font-bold text-gray-50 hover:bg-red-400"
      >
        Actualizar
      </button>
    </div>
  </body>
</html>